<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="background: beige;">
    <div style="margin: auto; max-width: 300px;">
        <h3>Entered Details:</h3>
        Name:&nbsp;&nbsp;&nbsp;{{ name }}<br><br>
        Roll Number:&nbsp;&nbsp;&nbsp;{{ rollno }}<br><br>
        Category:&nbsp;&nbsp;&nbsp;{{ category }}<br><br>
        Class:&nbsp;&nbsp;&nbsp;{{ classNumber }}<br><br>
    </div>
</body>
</html>